---
import NavBar2 from "../components/NavBar";
import ExperienceBlock from "../components/ExperienceBlock.astro";
import ProjectBlock from "../components/ProjectBlock.astro";
import SkillTag from "../components/SkillTag.astro";
import seamCarving from "../images/seamCarvingScreenDali.png"
import sudokuCSP from "../images/SudokuCSPSolver-Solved.png"
import PinnDE from "../images/PinnDE.png"
import BarretTechWAM from "../images/barretTechWAM.png"
import classroomStopwatch from "../images/classroomStopwatch.png"
import website from "../images/website.png"
import { Github, Linkedin, MoveUpRight } from "lucide-react";
import "../styles/global.css";
---


<html lang="en" class="text-gray-600 font-serif scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>jb55matthews.github.io/personal-website</title>
	</head>
	<body class="bg-slate-100 h-screen">
		<NavBar2 client:load />

		<div id="about" class="px-12">
			<div class="pt-16 flex justify-center text-5xl font-bold">
				Jason Matthews
			</div>
			<div class="pt-4 flex justify-center text-xl">
				Computer Science and Pure Mathematics Student
			</div>
			<div class="lg:pt-12 pt-8 lg:mx-40 text-base justify-center space-y-5">
				<p>
					I'm a Computer Science and Pure Mathematics joint honours student at Memorial University of Newfoundland. My 
					current research revolves around the development of large-scale frameworks for physics-informed neural networks,
					and different methods of improving them. Specifically, meta-learned optimization and adaptive point selection
					methods. 
				</p>
				<p>
					I developed an interest in mathematics at a young age, winning a certificate of distinction in the 
					<a class="text-black hover:text-cyan-600" href="https://cemc.uwaterloo.ca/contests/pcf" target=”_blank”>Cayley Math Contest</a>, 
					a Canada wide math contest held by Waterloo. Programming became an outlet to turn this passion in mathematics
					into a practical application. In high school I started to develop simple calculators in 
					FreeBASIC and building simple web apps with HTML, CSS, and JavaScript.
				</p>
				<p>
					Graduating high school I received the <a class="text-black hover:text-cyan-600" href="https://schulichleaders.com/" target=”_blank”>Schulich Leader Scholarship</a> 
					to attend <a class="text-black hover:text-cyan-600" href="https://mun.ca/" target=”_blank”>Memorial University of Newfoundland</a>, 
					the most prestigious STEM scholarship in Canada. Here I am pursuing a joint honours in Computer Science and Pure Mathematics 
					to combine my two passions into a single high-intensity program. I have spent the last year working as a research
					assistant in the department of mathematics and statistics, where I have developed a user friendly library implementing physics-informed neural networks
					and deep operator networks (<a href="https://pinnde.readthedocs.io/en/latest/", class="text-black hover:text-cyan-600" target="_blank">PinnDE</a>), 
					also writing a preprint which has many journal article citations already.
				 	I have also been on Paradigm Engineering, where I have been mainly working with ROS2, a Pixhawk PX-4, and ESP32's to
					develop the main driving algorithm for an autonomous go-kart.
				</p>
				<p>
					My current software project that is being worked on is an emulated processor running a subset of MIPS ISA written in Go. I also am currently working 
					on smaller projects with an Arduino UNO R3 and a FPGA to further develop my skills in electronics, as well as studying for the 
					actuarial exam's Exam P and Exam FM. I am working in research in the department of mathematics and statistics at MUN this time.
				</p>
				<div class="lg:pt-8 pt-4 flex justify-center space-x-6">
					<a href="https://github.com/JB55Matthews" target=”_blank”>
						<Github className="w-8 h-8 text-gray-600 hover:text-cyan-600"/>
					</a>
					<a href="https://www.linkedin.com/in/jason-matthews-3a417135b/" target=”_blank”>
						<Linkedin /className="w-8 h-8 text-gray-600 hover:text-cyan-600">
					</a>
					<a class="flex flex-row text-gray-600 text-xl hover:text-cyan-600" href="/personal-website/Resume_JasonMatthews.pdf" target="_blank" rel="noopener noreferrer">
						View Resume <MoveUpRight className="w-5 h-5"/>
					</a>
				</div>
			</div>
		</div>

		<div id="experience" class="px-12">
			<div class="pt-12 flex justify-center text-3xl font-bold">
				Experience
			</div>
			<div class="lg:pt-12 pt-8 lg:mx-40 xl:flex xl:w-{1/2} space-y-5">
				<div class="xl:flex xl:flex-1">
					<ExperienceBlock
						role="Research Assistant"
						company="Memorial University" link="https://www.mun.ca/math/"
						duration="May 2024 -- PRESENT"
						desc={"I have developed a user-friendly library implementing simple to use ODE and PDE solvers with physics-informed \
								neural networks and deep operator networks, PinnDE. The core library has been built in published with Python, with \
								testing new methods being done in C++. The library uses both TensorFlow and JAX as backends. I have also developed \
								a full documentation website hosted on ReadTheDocs which provides tutorials and documentation of the whole API. \
								Along with my supervisor, we have also written a preprint which has gotten a significant number of journal-submitted citations. \
								My current research focuses increasing the user experience with PinnDE, as well as improving and developing cutting-edge \
								meta-learned optimization methods for physics-informed neural networks."}
					>
					<SkillTag skill="Python"/>
					<SkillTag skill="C++"/>
					<SkillTag skill="Twine"/>
					<SkillTag skill="Tensorflow"/>
					<SkillTag skill="JAX"/>
					<SkillTag skill="ReadTheDocs"/>
					<SkillTag skill="ArXiv"/>
					</ExperienceBlock>
				</div>
				<div class="xl:flex xl:flex-1">
					<ExperienceBlock
						role="Software Team Member"
						company="Paradigm Engineering"
						link="https://munparadigm.com/"
						duration="Sep 2024 -- PRESENT"
						desc={"As a member of Paradigm Engineering, we have been developing an autonomous go-kart to take to the autonomous karting \
							series held at Purdue University in June 2025. My main role has been developing the core drive algorithm in which the kart will\
							use to drive autonomously. Using a PX-4, I have used C++ with ROS2 to implement an GPS waypoint following algorithm. I have also \
							developed a GUI in C++ which we can use to observe important ROS2 topics as the kart is driving.  I have also been working on the code \
							along with an ESP32 to take input from our PX-4 to the steering motor, developing a strong skill in microcontrollers. \
							While Paradigm Engineering has over forty members, I am one of ten chosen to be taken to competition."}
					>
						<SkillTag skill="C++"/>
						<SkillTag skill="Python"/>
						<SkillTag skill="ROS2"/>
						<SkillTag skill="ESP32"/>
						<SkillTag skill="Arduino"/>
						<SkillTag skill="Gazebo"/>
						<SkillTag skill="Pixhawk PX-4"/>
						<SkillTag skill="Qt5"/>
					</ExperienceBlock>
				</div>
			</div>

			<div class="lg:pt-12 pt-8 lg:mx-40 xl:flex xl:w-{1/2} space-y-5">
				<div class="xl:flex xl:flex-1">
					<ExperienceBlock
						role="Seasonal Associate"
						company="Kent Building Supplies" link="https://kent.ca/en/about"
						duration="May--Sep, 2020--2023"
						desc={"During all of high school and my first year of university, I worked at Kent Building Supplies in the Seasonal Department. I started in grade ten, \
							and was then rehired every year until I started working at Memorial University of Newfoundland. Over this time, I became an asset of the store who \
							knew every department intimately and was relied upon to cover any area which needed the help. I worked diligently to become the most overall useful \
							employee who could be tasked with any task in the store and have it known it would get done efficiently."}
					>
					</ExperienceBlock>
				</div>
				<div class="xl:flex xl:flex-1">
				</div>
			</div>
		</div>

		<div id="projects", class="px-12">
			<div class="pt-12 flex justify-center text-3xl font-bold">
				Projects
			</div>
			<div class="pt-12 lg:mx-40 xl:flex xl:w-{1/2} space-y-5">
				<div class="xl:flex xl:flex-1">
					<ProjectBlock
						title="PinnDE"
						image={PinnDE}
						link="https://github.com/JB55Matthews/PinnDE"
						desc={"PinnDE is a Python library giving users the ability to solve both ODEs and PDEs with physics-informed neural networks and \
							deep operator networks. We currently give access to solving 1+n spatial-temporal and n spatial dimensional PDEs, with Periodic, Dirichlet, \
							and Neumann boundary conditions. This library has a large focus on \
							user-friendliness, giving the user the ability to provide minimal information needed, helping researchers not directly in the field \
							to take advantage of these networks without having the high demand of knowledge many other packages require."}
					>
					<SkillTag skill="Python"/>
					<SkillTag skill="C++"/>
					<SkillTag skill="Twine"/>
					<SkillTag skill="TensorFlow"/>
					<SkillTag skill="JAX"/>
					<SkillTag skill="ReadTheDocs"/>
					<SkillTag skill="ArXiv"/>
					</ProjectBlock>
				</div>
				<div class="xl:flex xl:flex-1">
					<ProjectBlock
						title="Stopwatch and Timer"
						link="https://github.com/JB55Matthews/classroom-stopwatch"
						image={classroomStopwatch}
						desc={"This is a webpage I built as a custom stopwatch and timer for my mother. She is a teacher who is constantly using timers and \
						stopwatches on her board, and has only ever used the google timer/stopwatch. So, I built her this app which is styled as everything in \
						her life is; purple and butterflies. This was built with TypeScript with React components, and CSS."}
					>
						<SkillTag skill="TypeScript"/>
						<SkillTag skill="CSS"/>
						<SkillTag skill="ReactJS"/>
						<SkillTag skill="HTML"/>
					</ProjectBlock>
				</div>
			</div>
			<div class="pt-12 lg:mx-40 xl:flex xl:w-{1/2} space-y-5">
				<div class="xl:flex xl:flex-1">
					<ProjectBlock
						title="Seam Carving"
						link="https://github.com/JB55Matthews/Seam-Carving"
						image={seamCarving}
						desc={"I developed a Java application which allows users to upload and dynamically resize images using a technique known as seam carving. \
							This technique uses edge detection using the Sobel operator and then a dynamic computation to find \"seams\" of pixels in the image which have the minimal amount\
							of information. These seams are then removed, in order to take unimportant sections of the image out while keeping important objects \
							at the same size. The mathematics involved in these computations is discussed in a high level in GitHub repo for this project."}
					>
						<SkillTag skill="Java"/>
						<SkillTag skill="Swing"/>
						<SkillTag skill="Image Processing"/>
					</ProjectBlock>
				</div>
				<div class="xl:flex xl:flex-1">
					<ProjectBlock
						title="Personal Website"
						image={website}
						link="https://github.com/JB55Matthews/personal-website"
						desc={"This website was built using AstroJS, with TypeScript, React, and TailwindCSS as well. React has been used in the animations \
							of the navigation bar on large screens, and on smaller screens, the animations of the toggled menu."}
					>
						<SkillTag skill="JavaScript"/>
						<SkillTag skill="TypeScript"/>
						<SkillTag skill="AstroJS"/>
						<SkillTag skill="ReactJS"/>
						<SkillTag skill="TailwindCSS"/>
						<SkillTag skill="HTML"/>
					</ProjectBlock>
				</div>
			</div>
			<div class="pt-12 lg:mx-40 xl:flex xl:w-{1/2} space-y-5">
				<div class="xl:flex xl:flex-1">
					<ProjectBlock
						title="Barrett Technology 7R WAM"
						link="https://github.com/JB55Matthews/Comp3766_FinalProject_Group12"
						image={BarretTechWAM}
						desc={"This is the final project for COMP 3766, Introduction to Robotic Manipulation. I implemented the Barrett Technology 7 revolute joint WAM\
							robotic arm, a highly used arm in the medical field. I developed the URDF modelling of the arm, which is modeled inside of RViz with ROS. \
							The forward kinematics for this arm was calculated and implemented along with a GUI to publish joint positions. A numerical inverse kinematics \
							algorithm is also provided which given and end-effector position can calculate the joint positions for the arm and publish them to the joints. Both \
							Python and C++ were used in the developing of these scripts in ROS."}
					>
						<SkillTag skill="C++"/>
						<SkillTag skill="Python"/>
						<SkillTag skill="ROS"/>
						<SkillTag skill="RViz"/>
						<SkillTag skill="Docker"/>
					</ProjectBlock>
				</div>
				<div class="xl:flex xl:flex-1">
					<ProjectBlock
						title="Sudoku CSP Solver"
						image={sudokuCSP}
						link="https://github.com/JB55Matthews/Sudoku-CSP-Algorithm-Solvers"
						desc={"This is a Java application which has been developed with inspiration from MUN's COMP 3200, Algorithm Techniques for AI. This is a Sudoku solver, \
						which implements multiple constraint satisfaction problem solving techniques to solve sudoku puzzles. A user can put in any puzzle they wish, \
						and choose what combination of algorithmic techniques will be used to solve the puzzle. This is then timed to be compared with other combinations \
						of algorithms. These algorithms are the main ones introduced in \"Artificial Intelligence: A Modern Approach\", by Russell and Norvig. AC-3 \
						inferencing specifically is an arc consistency check described in this book which takes any blank grid to an almost instant solve."}
					>
						<SkillTag skill="Java"/>
						<SkillTag skill="Swing"/>
					</ProjectBlock>
				</div>
				</div>
		</div>

		<div id="publications">
			<div class="pt-12 flex justify-center text-3xl font-bold">
				Publications
			</div>
			<div class="lg:pt-12 pt-8 lg:mx-40 justify-center">
				<p class="text-lg font-bold">
					PinnDE: Physics-Informed Neural Networks for Solving
					Differential Equations
				</p>
				<hr/>
				<p>
					<a class="font-bold">Jason Matthews</a>, Alex Bihlo, PinnDE: Physics-Informed Neural Networks for Solving
					Differential Equations, arxiv preprint. arxiv: 2408.10011 (2024).
					<a href="https://doi.org/10.48550/arXiv.2408.10011", class="text-black hover:text-cyan-600" target="_blank">
						https://doi.org/10.48550/arXiv.2408.10011
					</a>
				</p>
				<p>
					Website: <a href="https://pinnde.readthedocs.io/en/latest/", class="text-black hover:text-cyan-600" target="_blank">
						https://pinnde.readthedocs.io/en/latest/
					</a>
				</p>
			</div>
		</div>


		<div id="footer" class="px-12 py-20 text-center text-gray-600 text-sm">
			Created with <a class="text-black hover:text-cyan-600" href="https://astro.build" target="_blank">Astro</a>, 
			<a class="text-black hover:text-cyan-600" href="https://tailwindcss.com" target="_blank">Tailwind CSS</a>, and 
			<a class="text-black hover:text-cyan-600" href="https://react.dev/" target="_blank">React</a> Thanks for reading!
		</div>
	</body>
</html>
