---
import Sidebar from "../components/Sidebar.tsx";
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar";
import NavBar2 from "../components/NavBar2";
import ExperienceBlock from "../components/ExperienceBlock.astro";
import ProjectBlock from "../components/ProjectBlock.astro";
import SkillTag from "../components/SkillTag.astro";
import seamCarving from "../images/seamCarvingScreenDali.png"
import sudokuCSP from "../images/SudokuCSPSolver-Solved.png"
import PinnDE from "../images/PinnDE.png"
import BarretTechWAM from "../images/barretTechWAM.png"
import { Github, Linkedin, MoveUpRight } from "lucide-react";
import "../styles/global.css";
---


<html lang="en" class="text-gray-600 font-serif scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>jb55matthews.github.io/personal-website</title>
	</head>
	<body class="bg-slate-100 h-screen">
		<NavBar2 client:load />

		<div id="about" class="px-12">
			<div class="pt-16 flex justify-center text-5xl font-bold">
				Jason Matthews
			</div>
			<div class="pt-4 flex justify-center text-xl">
				Computer Science and Pure Mathematics Student
			</div>
			<div class="lg:pt-12 pt-8 lg:mx-40 text-base justify-center space-y-5">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<div class="lg:pt-8 pt-4 flex justify-center space-x-6">
					<a href="https://github.com/JB55Matthews" target=”_blank”>
						<Github className="w-8 h-8 text-gray-600 hover:text-cyan-600"/>
					</a>
					<a href="https://www.linkedin.com/in/jason-matthews-3a417135b/" target=”_blank”>
						<Linkedin /className="w-8 h-8 text-gray-600 hover:text-cyan-600">
					</a>
					<a class="flex flex-row text-gray-600 text-xl hover:text-cyan-600" href="/personal-website/Resume_JasonMatthews.pdf" target="_blank" rel="noopener noreferrer">
						View Resume <MoveUpRight className="w-5 h-5"/>
					</a>
				</div>
			</div>
		</div>

		<div id="experience" class="px-12">
			<div class="pt-12 flex justify-center text-3xl font-bold">
				Experience
			</div>
			<div class="lg:pt-12 pt-8 lg:mx-40 xl:flex xl:w-{1/2} space-y-5">
				<div class="xl:flex xl:flex-1">
					<ExperienceBlock
						role="Research Assistant"
						company="Memorial University" link="https://www.mun.ca/math/"
						duration="May 2024 -- PRESENT"
						desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					>
					<SkillTag skill="Python"/>
					<SkillTag skill="C++"/>
					<SkillTag skill="Twine"/>
					<SkillTag skill="Tensorflow"/>
					<SkillTag skill="JAX"/>
					<SkillTag skill="ReadTheDocs"/>
					<SkillTag skill="ArXiv"/>
					</ExperienceBlock>
				</div>
				<div class="xl:flex xl:flex-1">
					<ExperienceBlock
						role="Software Team Member"
						company="Paradigm Engineering"
						link="https://munparadigm.com/"
						duration="Sep 2024 -- PRESENT"
						desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					>
						<SkillTag skill="C++"/>
						<SkillTag skill="Python"/>
						<SkillTag skill="ROS2"/>
						<SkillTag skill="ESP32"/>
						<SkillTag skill="Arduino"/>
						<SkillTag skill="Gazeebo"/>
						<SkillTag skill="Pixhawk PX-4"/>
						<SkillTag skill="Qt5"/>
					</ExperienceBlock>
				</div>
			</div>

			<div class="lg:pt-12 pt-8 lg:mx-40 xl:flex xl:w-{1/2} space-y-5">
				<div class="xl:flex xl:flex-1">
					<ExperienceBlock
						role="Seasonal Associate"
						company="Kent Building Supplies" link="https://www.aboutamazon.com/about-us"
						duration="May--Sep, 2020--2023"
						desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					>
					</ExperienceBlock>
				</div>
				<div class="xl:flex xl:flex-1">
				</div>
			</div>
		</div>

		<div id="projects", class="px-12">
			<div class="pt-12 flex justify-center text-3xl font-bold">
				Projects
			</div>
			<div class="pt-12 lg:mx-40 xl:flex xl:w-{1/2} space-y-5">
				<div class="xl:flex xl:flex-1">
					<ProjectBlock
						title="PinnDE"
						image={PinnDE}
						link="https://github.com/JB55Matthews/PinnDE"
						desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					>
					<SkillTag skill="Python"/>
					<SkillTag skill="C++"/>
					<SkillTag skill="Twine"/>
					<SkillTag skill="Tensorflow"/>
					<SkillTag skill="JAX"/>
					<SkillTag skill="ReadTheDocs"/>
					<SkillTag skill="ArXiv"/>
					</ProjectBlock>
				</div>
				<div class="xl:flex xl:flex-1">
					<ProjectBlock
						title="Seam Carving"
						link="https://github.com/JB55Matthews/Seam-Carving"
						image={seamCarving}
						desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					>
						<SkillTag skill="Java"/>
						<SkillTag skill="Swing"/>
						<SkillTag skill="Image Processing"/>
					</ProjectBlock>
				</div>
			</div>
			<div class="pt-12 lg:mx-40 xl:flex xl:w-{1/2} space-y-5">
				<div class="xl:flex xl:flex-1">
					<ProjectBlock
						title="Personal Website"
						image={sudokuCSP}
						link="https://github.com/JB55Matthews/personal-website"
						desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					>
						<SkillTag skill="JavaScipt"/>
						<SkillTag skill="TypeScript"/>
						<SkillTag skill="AstroJS"/>
						<SkillTag skill="ReactJS"/>
						<SkillTag skill="TailwindCSS"/>
					</ProjectBlock>
				</div>
				<div class="xl:flex xl:flex-1">
					<ProjectBlock
						title="Barrett Technology 7R WAM"
						link="https://github.com/JB55Matthews/Comp3766_FinalProject_Group12"
						image={BarretTechWAM}
						desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					>
						<SkillTag skill="C++"/>
						<SkillTag skill="Python"/>
						<SkillTag skill="ROS"/>
						<SkillTag skill="RViz"/>
						<SkillTag skill="Docker"/>
					</ProjectBlock>
				</div>
			</div>
			<div class="pt-12 lg:mx-40 xl:flex xl:w-{1/2} space-y-5">
				<div class="xl:flex xl:flex-1">
					<ProjectBlock
						title="Sudoku CSP Solver"
						image={sudokuCSP}
						link="https://github.com/JB55Matthews/Sudoku-CSP-Algorithm-Solvers"
						desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
					>
						<SkillTag skill="Java"/>
						<SkillTag skill="Swing"/>
					</ProjectBlock>
				</div>
				<div class="xl:flex xl:flex-1">
				</div>
		</div>

		<div id="publications", class="px-12">
			<div class="pt-12 flex justify-center text-3xl font-bold">
				Publications
			</div>
			<div class="lg:pt-12 pt-8 lg:mx-40 justify-center space-y-5">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure 
					dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non 
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>


		<div id="footer" class="px-12 py-20 text-center text-gray-600 text-sm">
			Created with <a class="text-black hover:text-cyan-600" href="https://astro.build">Astro</a>, 
			<a class="text-black hover:text-cyan-600" href="https://tailwindcss.com">Tailwind CSS</a>, and 
			<a class="text-black hover:text-cyan-600" href="https://react.dev/">React</a> Thanks for reading!
		</div>
	</body>
</html>
